*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  color: var(--white);
}

:root{
  --black: #121312;
  --white: #F8F8F8;
  --gray: #2E2E2E;
  --light-gray: #706E6E;
  --green: #099C27;
  --correct: #07C80B;
  --light-green: #87EF7A;
  --incorrect: #D62424;
  --selected: #7B99FF;
  --glitch-green: #1fa102;
  --glitch-purple: #5e039e;
  --light-gray-40: rgba(112, 110, 110, 0.4);
  --gray-65: rgba(46, 46, 46, 0.65);
  --green-75: rgba(30, 219, 43, 0.75);
  --selected-50: rgba(123, 153, 255, 0.5);
}

html{
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
