*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  color: var(--white);
}

:root{
  --black: #121312;
  --white: #F8F8F8;
  --gray: #2E2E2E;
  --light-gray: #706E6E;
  --green: #099C27;
  --correct: #07C80B;
  --incorrect: #D62424;
  --selected: #7B99FF;
  --glitch-cyan: #0ffbf77f;
  --glitch-magenta: #cc0f387f;
  --light-gray-40: #706e6e66;
  --gray-40: #2e2e2e66;
  --green-75: #1edb2bbf;
  --selected-50: #7b99ff80;
}

html{
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

@keyframes glitch {
  40%{
    text-shadow: 0.3rem 0.3rem 0.1rem var(--glitch-cyan), 
                 -0.3rem -0.3rem 0.1rem var(--glitch-magenta);
  }

  50%{
    text-shadow: -0.3rem -0.3rem 0.1rem var(--glitch-cyan), 
                 0.3rem 0.3rem 0.1rem var(--glitch-magenta);
  }

  60%{
    text-shadow: -0.3rem 0.3rem 0.1rem var(--glitch-cyan), 
                 0.3rem -0.3rem 0.1rem var(--glitch-magenta);
  }

  70%{
    transform: skew(-3deg);
    text-shadow: 0.3rem -0.3rem 0.1rem var(--glitch-cyan), 
                 -0.3rem 0.3rem 0.1rem var(--glitch-magenta);
  }
  
  80%{
    transform: skew(3deg);
    text-shadow: -0.3rem 0.3rem 0.1rem var(--glitch-cyan), 
                 -0.3rem 0.3rem 0.1rem var(--glitch-magenta);
  }

  90%{
    transform: skew(-3deg);
    text-shadow: 0.3rem -0.3rem 0.1rem var(--glitch-cyan), 
                 0.3rem -0.3rem 0.1rem var(--glitch-magenta);
  }

  100%{
    text-shadow: none;
  }
}